.reveal .slides section .fragment.step-fade-in-then-out {
    opacity: 0;
    display: none;
}
.reveal .slides section .fragment.step-fade-in-then-out.current-fragment {
    opacity: 1;
    display: inline;
}

body, body p, body ul {
    font-size: 2rem;
}

.inline-code {
    display: inline;
    font-size: 1.8rem;
    background-color: #5c5c5c;
}

.text-left {
    text-align: left;
}

.no-bullet {
    list-style-type: none
}
